$maindarktext: #343434;
$headerlinkhover: #fd7070;
$red:#f7555c;
$green: #9dca4b;
$secondarygrey: #989898;
$dividergrey:#373737;
$mediumgrey: #2d2d2d;
$darkgreybg: #1f1f1f;
$lightbg: #242424;
$yellow:#f7c547;
$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;