@import "setup";
@import "utils";
@import "typography";
@import "components/header";
@import "components/footer";

// TypeFaces...
// $raleway: 'Raleway', sans-serif;
// $opensans: 'Open Sans', sans-serif;


// Colours..


// GLOBAL STYLES

.wrapper {
    max-width: 1171px;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
    font-family: $raleway;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    display: flex;
    flex-flow: row wrap;
}

a.btn-primary {
    font-size: 1.2rem;
    color: $maindarktext;
    padding: 3% 5%;
    border: 3px solid #fff;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
}

.section-triangle::after {
    left: 50%;
    width: 50px;
    height: 50px;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
    position: absolute;
    content: '';
    pointer-events: none;
    top: 96%;
    z-index: 1;
}

a.btn-primary:hover {
    background: #fff;
}

.map {
    img {
        width: 100%;
    }
}

// ABOUT US SECTION

.about-us {
    background: $lightbg;
}

.about-us__card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 10%;
    .about-us-card {
        flex-wrap: wrap;
        text-align: center;
        max-width: 370px;
        min-width: 250px;
        flex: 3 1;
        padding: 4% 1%;
        background: $mediumgrey;  
        p {
            font-size: 1.6rem;
            color: $secondarygrey;
            text-align: center;
            width: 90%;
            display: inline-block;
            line-height: 24px;
            margin: 0;
        }

    }
    .card1 {
        border-bottom: 10px solid $yellow;
    }
    .card2 {
        border-bottom: 10px solid $red;
    }
    .card3 {
        border-bottom: 10px solid $green;
    }
}


// SKILLS SECTION 

.skills {
    background: $darkgreybg;
    .skills__container__div--card {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-bottom: 10%;
    }
}