@import "setup";
@import "utils";
@import "typography";
@import "components/header";
@import "components/footer";

// TypeFaces...
// $raleway: 'Raleway', sans-serif;
// $opensans: 'Open Sans', sans-serif;


// Colours..


// GLOBAL STYLES

.wrapper {
    max-width: 1171px;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
    font-family: $raleway;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    display: flex;
    flex-flow: row wrap;
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a.btn-primary,
.btn-primary {
    font-size: 1.2rem;
    color: $maindarktext;
    padding: 3% 5%;
    border: 3px solid #fff;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
    text-align: center;
}
a.btn-primary:hover {
    background: #fff;
}

.btn-secondary {
    border: 3px solid #fff;
    color: #fff;
    background: transparent;
    text-align: center;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
}

.button-positioning {
    padding: 50px 0;
    text-align: center;
}

.section-triangle::after {
    content: '';
    left: 50%;
    width: 50px;
    height: 50px;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
    position: absolute;
    pointer-events: none;
    z-index: 1;
}
header.section-triangle::after,
.triangle::after {
    background: linear-gradient(135deg, rgba(247,197,71,1) 0%, rgba(247,197,71,1) 50%, rgba(238,190,69,1) 50%, rgba(238,190,69,1) 100%);    
    bottom: -20px;
}

.map {
    img {
        width: 100%;
    }
}

.about-us,
.latest-projects,
.portfolio,
.blog-container {
    background: $mediumbg;
}

.team,
.blog,
.contact-us,
footer h5 {
    background: $darkgreybg;
}

.social {
    margin: 20px;
    padding: 0;
    li {
        padding: 5px;
        text-align: center;
        i {
            padding: 5px;
            width: 30px;
            height: 30px;
        }
    }

}


// ABOUT US SECTION


.about-us__card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 10%;
    .about-us-card {
        flex-wrap: wrap;
        text-align: center;
        max-width: 370px;
        min-width: 250px;
        flex:1 1;
        padding: 50px 10px;
        background: $cardbg;  
        p {

            width: 90%;
            line-height: 24px;
            margin: 0;
        }
    .about-us-card::before,
    .about-us-card::after {
        flex: 0 0 20px;
        content: '';
    }
    }
    .card1 {
        border-bottom: 10px solid $yellow;
    }
    .card2 {
        border-bottom: 10px solid $red;
    }
    .card3 {
        border-bottom: 10px solid $green;
    }
}


// SKILLS SECTION 

.skills {
    background: $darkgreybg;
    .skills__container__div--card {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding-bottom: 10%;
        .skills__div--card {
            flex: 4 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            figcaption {
                margin: 5%;
            }
        }
    }
}

// TESTIMONIAL SECTION 

.testimonial-quote {
    position: relative;
    background: linear-gradient(to right, rgba(255,111,111,1) 0%, rgba(255,111,111,1) 50%, rgba(247,108,108,1) 50%, rgba(247,108,108,1) 100%);
    text-align: center;
}

.testimonial-quote::after {
    background: linear-gradient(135deg, rgba(255,111,111,1) 0%, rgba(255,111,111,1) 50%, rgba(247,108,108,1) 50%, rgba(247,108,108,1) 100%);
    top: 94%;
}

// LATEST PROJECTS SECTION

.latest-projects {
    .latest-projects-gallery {
        text-align: center;
        position: relative;
        .arrow {
            position: absolute;
            top: 50%;
        }
        .arrow-1 {
            left: 0;
        }

        .arrow-2 {
            right: 0;
        }
    }
}

// TEAM SECTION

.team-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 10%;
    .team-member {
        max-width: 270px;
        background:$mediumgrey;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 10px solid $headerlinkhover;
        img {
            width: 100%;
        }
        ul {
            padding: 20px;
        }
    }
}

// STATS SECTION

.stats {
    background: linear-gradient(to right, rgba(164,203,97,1) 0%, rgba(164,203,97,1) 50%, rgba(169,210,100,1) 50%, rgba(169,210,100,1) 100%);
    position: relative;
    .stats-card-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .stats-card {
            max-width: 370px;
            padding: 100px 6%;
            text-align: center;
            img {
                width: auto;
                height: 101px;
            }
            h4 {
                color: $maindarktext;
                font-size: 60px;
                font-weight: 700;
                margin: 20px 0;
                font-family: $opensans;
            }
            p {
                padding: 15px 25px;
                width: 100%;
                margin: 0;
                display: inline-block;
                transition: 0.3s;
            }
            p:hover {
                background: #fff;
            }
        }
    }
}

.stats::after {
    background: linear-gradient(135deg, rgba(164,203,97,1) 0%, rgba(164,203,97,1) 50%, rgba(169,210,100,1) 50%, rgba(169,210,100,1) 100%);
    bottom:-20px;
}

// PORTFOLIO SECTION 

.portfolio__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
    img {
        width: 100%;
        max-width: 480px;
        display: block;
    }
    p {
        display: block;
        background: #fff;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        padding: 30px 0;
        font-weight: 700;
        position: relative;
    }
    p::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        position: absolute;
        border-bottom:10px solid #fff;
        top: -20px;
        left: 47%;    
    }
}

// BLOG SECTION

.blog-grid-container {
    display: grid; 
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 246px 246px;
    .blog-container-left {
        grid-row: 1 / span 2;
        border-bottom: 10px solid $yellow;
    }
    .article__style-right {
        display: flex;
        flex-flow: row wrap;
        figure {
            width: 50%;
            figcaption {
                display: none;
            }
        }
        .text-container {
            width: 50%;
            p {
                width: 50%;
            }
            ul {
                padding: 0;
            }
        }
    }
    .article-2 {
        border-right: 10px solid $red;
    }
    .article-3 {
        border-right: 10px solid $green;
        grid-column: 3 / 2;
    }
}


// MAP SECTION
.map {
    position: relative;
    background: linear-gradient(to right, rgba(247,197,71,1) 0%, rgba(247,197,71,1) 50%, rgba(238,190,69,1) 50%, rgba(238,190,69,1) 100%);  
    z-index: 1;
    text-align: center;  
    padding: 50px 0 0 0;
    img {
        display: block;
        z-index: 1;
    }
}

.map::after {
    bottom: -50px;
    z-index: 10;
}


// CONTACT US SECTION

.contact-us {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    ul {
        margin: 20px 20px 20px 20px;
    }
    form {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        margin: 50px 0;
        width: 55%;
        ::-webkit-input-placeholder {
            text-align: center;
        }
        
        :-moz-placeholder { /* Firefox 18- */
            text-align: center;  
        }
        
        ::-moz-placeholder {  /* Firefox 19+ */
            text-align: center;  
        }
        
        :-ms-input-placeholder {  
            text-align: center; 
        }

        input,
        textarea {
            background: $mediumgrey;
            border: none;
            color: $secondarygrey;
            font-size: 1.6rem;
            width: 100%;
            resize: none;
            margin: 10px 0;
            padding: 15px;
        }

        button.btn-secondary {
            color: #fff;
            display: inline-block;
            width: 120px;
            margin: 10px auto;
        }
    }

}

